<div class="container mt-4">
  <h2>List of Customers</h2>
  <div class="mb-3">
    <a class="btn btn-primary" routerLink="/add-customer">Add New Customer</a>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>
          <button class="btn btn-sm btn-primary me-2" (click)="editCustomer(customer.id!)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteCustomer(customer.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
